@import '../../globals';

.PrimaryButton{
    padding:0 45px;
    display: flex;
    align-items: center;
    background-color: $secondary;
    border:none;
    border-radius: 10px;

    .Label{
        color:white;
        font-family: 'Rubik';
        font-weight: 500;
    }

    h4{
        margin:12px 0;
    }
    h3{
        margin:15px 0;
    }
}