@import "../../globals";

.Main {
  @extend %pagediv;
  min-height:100%;
  padding: 30px;

  .ProfilePicContainer {
    width:132px;
    height: 68px;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 150px; 
    background-color:$primary;

    position: absolute;
    top:32px;
    right:-50px;
    .Pfp {
      height: 54px;
      width: 54px;
      border-radius: 50%;
    }
  }

  .Content {

    .Greetings {
      margin-bottom: 16px;
      margin-top: 60px;
      font-weight: 600;
      color: black;
    }

    .Catchphrase{
      margin-bottom:24px;
      color: rgba(black,.5);
    }

    .Label {
      margin-top: 24px;
      color: $secondary;
      font-weight: 500;
    }
  }
}
