@import "../../globals";

.Card {
  .Label {
    color: $secondary;
  }

  .Price {
    color: $gray-300;
  }
}

.ListCard {
  height: 90px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;

  .Desc {
    color: $gray-300;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .Image {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    object-fit: cover;
  }

  .Info {
    margin-left: 15px;
    width: calc(100% - 120px);
  }

  .ArrowOpen {
    height: 35px;
    width: 35px;
    margin-left: auto;
  }
}

.FeedCard {
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .Desc {
    margin: 10px 0;
  }

  .Image {
    max-height: 200px;
    object-fit: cover;
  }

  .Footer {
    margin-top: 15px;
    margin-left: auto;
    display: flex;
    align-items: center;

    p {
      color: $secondary;
      margin-right: 10px;
    }

    .ArrowOpen {
      height: 20px;
      width: 20px;
    }
  }
}
