$shadowColor: rgba(0, 0, 0, 0.25);
$secondary: #4b8078;
$primary: #f9aa50;
$gray-300: #828282;
$gray-400: #bdbdbd;

h1 {
  font-size: 3.75rem;
  font-weight: 600;
}
h2 {
  font-weight: normal;
  font-size: 2.75rem;
}
h3 {
  font-weight: normal;
  font-size: 2.25rem;
}
h4 {
  font-weight: normal;
  font-size: 1.75rem;
}
p {
  font-weight: normal;
  font-size: 1.5rem;
}
