.BlobBg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    overflow: hidden;
    .Blob1{
        position: absolute;
        left: -2%;
        top: 37%;
    }   
    .Blob2{
        position: absolute;
        top: -6%;
        right:-9%;
    }
}

.BlobBgRepeat{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg width='618' height='681' viewBox='0 0 618 681' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M163.156 0.0477073C190.054 -0.973005 213.522 14.5937 236.86 26.7336C260.234 38.8919 282.827 51.8472 299.537 70.9892C317.924 92.0527 341.02 115.552 337.674 142.221C334.3 169.114 299.65 182.349 282.763 204.691C267.47 224.924 266.032 254.426 243.052 267.409C220.02 280.422 190.293 271.379 163.156 272.266C134.926 273.189 106.128 282.135 79.856 272.744C52.2957 262.893 29.597 242.927 15.3348 219.428C1.20093 196.14 -1.46952 168.719 0.638563 142.221C2.65614 116.86 10.1379 91.4278 27.1291 71.1734C43.2545 51.9512 69.844 44.2706 92.9381 32.1952C116.044 20.1138 136.492 1.05955 163.156 0.0477073Z' fill='%23FFCA8E'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M440.868 397.127C469.64 395.332 494.778 412.952 518.772 426.916C541.6 440.203 560.64 456.793 576.715 476.193C594.165 497.25 612.112 518.87 616.285 544.595C620.735 572.021 616.841 601.216 600.885 625.166C584.944 649.093 558.06 667.065 528.298 676.663C500.49 685.632 470.476 678.125 440.868 676.775C412.829 675.495 385.008 677.146 358.563 668.919C328.632 659.608 294.328 650.381 278.606 626.296C262.887 602.217 276.214 572.283 277.405 544.595C278.55 517.975 267.339 487.786 285.484 466.356C303.715 444.826 341.814 448.429 369.144 436.252C394.691 424.869 412.252 398.912 440.868 397.127Z' fill='%23F9AA50'/%3E%3C/svg%3E%0A");
    background-size:(150%,100%);
    background-position: 50% -2%;
    height:100%;
    width: 100%;

}