.BlobBg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    overflow: hidden;
    .Blob1{
        position: absolute;
        left: -2%;
        top: 37%;
    }   
    .Blob2{
        position: absolute;
        top: -6%;
        right:-9%;
    }
}

.BlobBgRepeat{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-size:(150%,100%);
    background-position: 50% -2%;
    height:100%;
    width: 100%;

}