.BlobBg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top:0;
    left:0;
    overflow: hidden;
    .Blob1{
        position: absolute;
        left: -2%;
        top: 37%;
    }   
    .Blob2{
        position: absolute;
        top: -6%;
        right:-9%;
    }
}